<!-- Container principal do formulário de login -->
<div class="container">
    <!-- Formulário de login com uma elevação de material design -->
    <form class="form mat-elevation-z8">

        <!-- Título do formulário de login -->
        <h1>Help Desk - Dicas de um DEV</h1>

        <!-- Imagem do login -->
        <img src="assets/img/login-image.svg" alt="Help Desk - Dicas de um DEV">

        <!-- Campo de formulário para o e-mail com preenchimento completo e aparência de material design -->
        <mat-form-field class="full-width" appearance="fill">
            <!-- Rótulo do campo de e-mail -->
            <mat-label>E-mail</mat-label>
            <!-- Input para o e-mail, vinculando o modelo e o controle de formulário com validação e placeholder -->
            <input [(ngModel)]="creds.email" [formControl]="email" required name="email" matInput
                placeholder="Ex. fulano@mail.com">
        </mat-form-field>

        <!-- Campo de formulário para a senha com preenchimento completo e aparência de material design -->
        <mat-form-field class="full-width" appearance="fill">
            <!-- Rótulo do campo de senha -->
            <mat-label>Senha</mat-label>
            <!-- Input para a senha, vinculando o modelo e o controle de formulário com validação, tipo password e placeholder -->
            <input [(ngModel)]="creds.senha" [formControl]="senha" required name="senha" type="password" matInput
                placeholder="Ex. 123">
        </mat-form-field>

        <!-- Botão de login, desativado se os campos não forem válidos, com estilo de elevação e cor primária -->
        <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button
            color="primary">Login</button>
    </form>
</div>